[safe]
	directory = /var/lib/pterodactyl/volumes/4460a315-e973-4a4e-a8da-19f3104dbcf8
	directory = /var/lib/pterodactyl/volumes/4460a315-e973-4a4e-a8da-19f3104dbcf8
	directory = /var/lib/pterodactyl/volumes/4460a315-e973-4a4e-a8da-19f3104dbcf8
	directory = /var/lib/pterodactyl/volumes/4460a315-e973-4a4e-a8da-19f3104dbcf8
	directory = /var/lib/pterodactyl/volumes/4460a315-e973-4a4e-a8da-19f3104dbcf8
	directory = /home/container
	directory = /home/container
	directory = /home/container
	directory = /home/container
	directory = /home/container
	directory = /home/container
